 /*---------------------------------------------------------------------------------------
  Header Styles
 * --------------------------------------------------------------------------------------*/
 
 /*--------------------------------------------------------------------------------------/*
  Navigation
 /*--------------------------------------------------------------------------------------*/
 .navbar {
    padding: 10px 0;
}

.custom-navbar {
     background: transparent;
     border-width: 0;
     @include transition($what: all, $time: .4s, $how: ease-in-out);

     .logo {
         padding-top: 2px;
     }
     
}

.top-nav-collapse {
    background: #fff;
    box-shadow: 0 0 10px #333;
    border-width: 0;

    .main-menu {

        .navbar-collapse {
            
            ul {
                li {
                    a {
                        color: $color-1;

                        &:hover {
                            color: $color-text;
                        }
                    }
                }

                li.active a {
                    color: $color-text;
                }
            }
        }
    }
}

.main-menu {
    text-transform: uppercase;
    margin-top: 6px;
    float: right;
    color: #fff;

    .nav.navbar-nav {
        
        li {
           font-weight: 500;
           font-family: 'Lato';
           font-size: 0.875rem;
           font-weight: 600;

           a {
            color: #fff;
            
                &:hover {
                    background: none;
                    color: $color-1;
                }
            }
        }

        li.active a {
            color: $color-1;
        }
    }
    
    button {
        margin: 2px 0 0 12px;
    }
    
}