/* ---------------------------------------------------------------------------------------
 Button Styles
* --------------------------------------------------------------------------------------*/
.btn {
    background: transparent;
    border: 2px solid $color-1;
    border-radius: 0;
    color: $color-1;
    font-family: $font-2;
    font-weight: 600;
    height: 44px;
    padding: 10px 18px;
    text-transform: uppercase;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
        background: $color-1;
        color: #fff;
        border: 2px solid $color-1;
    }

}

.btn-main-cta {
    color: $color-1;
    border: 2px solid $color-1;
    margin-left: 14px;

    &:hover{
        background: $color-1;
    }

    &:focus {
        color: $color-1;
    }
}

.btn-main-reverse {
    border: 2px solid $color-1;
    background: $color-1;
    color: #fff;


    &:hover {
        background: transparent;
        color: $color-1;
    }
}

/* Large devices (sm desktops, 767px and down) */
@media (max-width: 767px) {
    .btn-main-cta {
        margin: 14px 0 0;
    }

}

/* Mobile devices (Mobile, 339px and down) */
@media (max-width: 337px) {
    .btn-main-reverse  {
        margin-top: 10px;
    }
}